@import 'tailwindcss';

@theme {
  --color-background: #1a0f23;
  --color-primary: #6a0dad;
  --color-secondary: #8a2be2;
  --color-foreground: #e0d7ff;
  --color-hover: #9b30ff;
  --color-border: #2c1a3c;
  --color-shadow: #2c1a3c;
}
