@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: '#1E90FF';
  --color-secondary: '#FF4500';
  --color-background: '#0D0D0D';
  --color-text-primary: '#FFFFFF';
  --color-text-secondary: '#CCCCCC';
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  width: 320px;
  height: 400px;
  background-color: rgba(45,45,45,1);
  border-radius: 20px;
}

.container .card::before {
  content: "";
  position: absolute;
  background: radial-gradient(var(--clr), transparent, transparent);
  width: 400px;
  height: 400px;
}