.glow-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  
  width: 100%;
  max-height: 100%;
  height: auto;
  background-color: transparent;
}

.glow-card::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  background: radial-gradient(var(--clr), transparent, transparent);
  width: 225%;
  height: 225%;
  opacity: 0;
  transition: 0.5s, top 0s, left 0s;
  pointer-events: none;
}

.glow-card:hover::before {
  opacity: 1;
}

.glow-card::after {
  content: "";
  position: absolute;
  inset: 3px;
  border-radius: 18px;
  background: rgba(45, 45, 45, 0.8);
  pointer-events: none;
}

.glow-card-content {
  position: relative;
  z-index: 2;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}